*.log
*.swp
.idea
*.patch
### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
/alone
/ggit
/cliapp
.DS_Store
# shell script
/*.bash
/*.sh
/*.zsh
/*.pid

# ai agent
/openspec
/.iflow
AGENTS.md
IFLOW.md
go.work.sum
.xenv.toml